services:
  - type: web
    name: blood-link-backend
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: GROQ_API_KEY
        sync: false
      - key: MONGODB_URI
        sync: false
